<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="armr5_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="R0_Yaw">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['R0_Yaw']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="R1_Pitch">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['R1_Pitch']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="R2_Pitch">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['R2_Pitch']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="R3_Yaw">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['R3_Yaw']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="R4_Pitch">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['R4_Pitch']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="ServoGear">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['ServoGear']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="LeftGripper">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['LeftGripper']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="LeftPivotArm">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['LeftPivotArm']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="PassifGear">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['PassifGear']}</param>
                </state_interface>
                <state_ interface name="velocity"/>
            </joint>
            <joint name="RightGripper">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['RightGripper']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="RightPivotArm">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['RightPivotArm']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
